/* 
Jay Pittenger
5-1-2020
CS290 - Project
*/

body {
    background-color: #f5eaea;
    margin: 0;
    font-family: 'Jost', sans-serif;
    padding: 5px;
}

/* horizontal navgation bar styles */
#nav {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#4d4646;
    border-radius: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
#nav li {
    display:inline;
    margin: 14px;
    color: #f5eaea;
}
#nav li a {
    display: inline;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 10px;
}
#nav li a:hover {
    background-color:#5b5656;
    color: #7fcd91;
}
#nav li .active {
    background-color: #5b5656;
    color: #7fcd91;
}
#home {
    float: left;
}
#home a {
    color: #f5eaea;
}
#subpage {
    margin: auto;
    text-align: center;
    padding: 14px;
}
#subpage li a {
    color: #f5eaea;
}

/* title styles */
#title {
    color: #4d4646;
    padding: 14px;
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    margin: 20px;
    margin-top: 28px;
    text-align: center;
}
#title i {
    color: #7fcd91;
}

/* FOR UPDATES PAGE */
/* Scroll Box styles */
#scroll-comment{
    font-size: 12px;
}
#scroll-box {
    width: auto;
    height:450px;
    overflow:scroll;
    padding:5px;
    border: 5px solid #7fcd91;

    color:#f5eaea;
    background-color: #4d4646;
}
.date {
    font-weight: 700;
}

/* feedback text box styles */
#feedback {
    width:600px; 
    height:80px;
}

/* FOR SOFTWARE PAGE */
/* content styles */

.software-table {
    width: 100%;
    height:auto;

}
.image-source {
    font-size: 12px;
}